extends layout

block content
    body(class='aui content')
        header(class='header')
            div(class='header-bar container')
                a(class='header-bar__logo')
                    span(class='icon-cisco')
                div(class='header-bar__main')
                    div(class='header-heading')
                        h1(class='page-title') GVE Programmability Contest 2017
                        button(class='btn btn--primary-ghost pull-right')#btnLogout Logout

        div(class='hero hero--blue')
            div(class='container')
                div(class='hero__content')
                    h1 Thank you for connecting! 
                    h1#userName
                    div(class='row')
                        p(class='col-md-5') We sent you a Cisco Spark invitation by email!
                    div(class='row')
                        button(class='btn btn--white pull-left')#btnInternet To internet		

                
                        
                    

