extends layout

block content
    body(class='aui content')
        header(class='header')
            div(class='header-bar container')
                a(class='header-bar__logo')
                    span(class='icon-cisco')
                div(class='header-bar__main')
                    div(class='header-heading')
                        h1(class='page-title') GVE Programmability Contest 2017
                        button(class='btn btn--primary-ghost pull-right')#btnLogout Logout

        div(class='hero hero--blue')
            div(class='container')
                div(class='hero__content')
                    h1 Thank you for connecting to our Wi-Fi with Cisco Spark!
                    div(class='row')
                        p(class='col-md-5') You've been added to our Spark Event group. Feel free to post your pictures there and interact with the Cisco community!
                    div(class='row')
                        button(class='btn btn--white-ghost pull-left')#btnInternet To Internet
